body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    
   
}

h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 700;
}

#title {
    background-color: #ff4c68;
    position: relative;
}

#title h1 {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 50px auto 35px;
    padding-left: 16px;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 18px;
    font-size: 1.3rem;
    font-family: 'Montserrat-light';
}

#title button {
    margin-left: 18px;
}

.img {
    text-align: center;
    width: 60%;
    position: absolute;
    right: 30%;
    top: 45px;
    transform: rotate(25deg);
}

/* Features */
#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#features i {
    color: #ef8172;
    padding-bottom: 20px;
}

#features i:hover {
    color: #ff4c68;
}



#features p {
    color: #bfbfbf;
}

.feat {
    padding: 5%
}

.col-6-lg {
    position: absolute;
}

/* testimonials */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section  */
#pricing {
    padding: 80px;
    text-align: center;
}

.pricing-colomn {
    padding: 3% 2%;
}

/* Call to Action */
#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 5% 0 10%;
}
.cta-text {
    font-size: 2.5rem;
    font-weight: 900;
    width: 53%;
    margin: 0 auto 40px;
    line-height: 1.5;
}
.cta-btn {
    margin: 1%;
}

/* Footer */
#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.base-icon {
    margin: 0 auto 2%;
    padding: 0 10px;
}

@media (max-width: 992px){
    #title  {
        text-align: center;
    }
    .img {
        position: static;
        transform: rotate(0);
        margin: 30px auto;
    }
}

@media (max-width: 763px) {
    #title button {
        display: block;
        margin: 10px auto;
    }
    .shift {
        position: relative;
        left: 90px;
    }
}